.timelineHere{
    position: relative;
}

.timelineHere::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 4px;
    background: #414758;
    top: 0;
    left: 166px;
    border-radius: 20px;
}

.timeline__box:last-child{
    margin-bottom: 0;
}

.timelineHead{
    position: relative;
}

.timelineHead::after{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    border: 4px solid #414758;
    background: #101B32;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 50%;
}

.timelineHead::before{
    position: absolute;
    content: '';
    height: 4px;
    width: 80px;
    background: #414758;
    top: 50%;
    transform: translateY(-50%);
    right: -29px;
    border-radius: 20px;
}